[user]
	email = me@vsushkov.com
	name = Valentin Sushkov
[github]
	user = vsushkov
[color]
	ui = auto
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /Users/vsushkov/.gitignore_global
	autocrlf = input
[merge]
    tool = splice
[mergetool "splice"]
    cmd = "mvim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = true
[help]
	autocorrect = 1
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pager]
	branch = false
[pull]
	rebase = false
